body {
  background-color: dimgray;
  padding: 20px;
  margin: 0;
}

h1.title {
  margin: auto;
  width: 50%;
  padding-top: 10px;
  text-align: center;
}

nav.header li {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

nav.header li a{
  color: aliceblue;
  font-size: 20px;
}
